- provide(:title, 'Dashboard')
.row
  .col-sm-12.col-md-6
    %h2 Submissions
    = column_chart Submission.valid.accepted.group_by_day(:created_at, range: 1.month.ago..Time.now).count, library: { position:  'bottom'}
    %table.table
      %thead.thead-inverse
        %th Participant
        %th Submissions
      %tbody
        - @s_data.each do |p|
          %tr
            %td= p[0]
            %td= p[1]

  .col-sm-12.col-md-6
    %h2 Participants
    = column_chart Participant.group_by_day(:created_at, range: 1.month.ago..Time.now).count, library: { position:  'bottom'}
    %table.table
      %thead.thead-inverse
        %th Participant
        %th Phone #
      %tbody
        - @p_data.each do |p|
          %tr
            %td= p.name
            %td= p.mobile_phone

%hr
.row
  .col-sm-12.col-md-6
    %h2 Page Views
    = column_chart Ahoy::Event.not_user.group_by_day(:time, time_zone: Time.zone).count, library: { position:  'bottom'}
    %table.table
      %thead.thead-inverse
        %th Page
        %th Views
      %tbody
        - @page_data.each do |page|
          %tr
            %td= page[0]
            %td= page[1]


  .col-sm-12.col-md-6
    %h2 Visits
    = column_chart Visit.not_user.group_by_day(:started_at, time_zone: Time.zone).count, library: { position:  'bottom'}
    %table.table
      %thead.thead-inverse
        %th City
        %th Visits
      %tbody
        - @city_data.each do |city|
          %tr
            %td= city[0]
            %td= city[1]
