- provide(:title, 'Dashboard')
.row
  .col-sm-12.col-md-6
    %h2 Submissions
    = column_chart Submission.valid.accepted.group_by_day(:created_at, range: 1.month.ago..Time.now).count, library: { position:  'bottom'}
    %table.table
      %thead.thead-inverse
        %th Participant
        %th Submissions
      %tbody
        - @s_data.each do |p|
          %tr
            %td= p[0]
            %td= p[1]

  .col-sm-12.col-md-6
    %h2 Participants
    = column_chart Participant.group_by_day(:created_at, range: 1.month.ago..Time.now).count, library: { position:  'bottom'}
    %table.table
      %thead.thead-inverse
        %th Participant
        %th Phone #
      %tbody
        - @p_data.each do |p|
          %tr
            %td= p.name
            %td= p.mobile_phone
