- provide(:title, "San Antonio Best Total Body Workout")
%section#LandingContainer
  %video#video-background{:autoplay => "", :loop => "", :muted => "", "plays-inline" => ""}
    %source{:src => asset_url("promo_video.webm"), :type => "video/webm"}
  .row
    .col-sm-12.col-md-8.col-lg-4
      .jumbotron
        %h1.text-white
          San Antonio's
          %em Best
          Total Body Workout
        %p.text-white
          It’s rowing – and so much more. Alternating intervals on and off of the Water Rower GX™,
          combined with dynamic Kettlebell™ and TRX™ exercises delivers a triple threat workout.
          %em High-intensity sweat, low-impact burn, total body results.
        %br
        %a.btn.btn-success.btn-lg.btn-block{href: '#Schedule', style: 'color: #000'} Book A Class*
        %br
        %span.text-white
          *Your first class is free!

= render 'static_pages/home_sections/three_things'
%section#BgDiv6
= render 'static_pages/home_sections/schedule'
%section#BgDiv5
= render 'static_pages/home_sections/events'
= render 'static_pages/home_sections/instagram'
%section#BgDiv2
= render 'static_pages/home_sections/classes'
= render 'static_pages/home_sections/pricing'
%section#BgDiv3
= render 'static_pages/home_sections/coaches'
%section#BgDiv4
= render 'static_pages/home_sections/faq'
%section#BgDiv1
= render 'static_pages/contact'
