%section#Help
  %hr
  .container
    .section-header
      .section-title
        .row
          .col-sm-12
            .text-center
              %h1 JOIN
              %p.lead #XCrew Challenges are friendly competitions amongst our members to see who can row the most in given time frames. All you need to join is your phone, no username or password to remember.
    .section-content
      .row
        .col-sm-12
          %h3.text-info How do I get started?
          %p
            ="Getting started is easy! Just pull out your phone and text your name to <code>#{ENV['TWILIO_NUMBER']}</code> like this:".html_safe
            = succeed '.' do
              %code{style: "font-size: 14px;"}="Name: Alison Smith"
              This will store your name and phone number together. Your name will be set to whatever comes after the
              %code :
            = succeed '.' do
              You can always change your name by texting in something else using the same 'Name' keyword, like this:
              %code{style: "font-size: 14px;"}="Name: Alison Galvan"
            Ultimately, you control what name is used on your profile and on the leaderboards by using the name keyword. Whenever we need to determine potential contest winners, we will use your phone number to identify & notify you.
          %hr.pull-left{style: 'margin-bottom: 5%'}
      .row
        .col-sm-12
          %h3.text-info How do I add meters?
          %p
            The keyword for adding meters is simply: 'Meters:', here's an example of how to use it:
            = succeed '.' do
              %code{style: "font-size: 14px;"}="Meters: 5675"
            Avoid using any commas in the number. We will then take that number and make sure it is a valid submission. If it is a valid submission, you will see a response like this:
            = succeed '.' do
              %code="Got it! Here is a link to your profile..."
            If it is an invalid submission, potentially because you accidentally submitted your meters more than once for that class, we will let you know with a message like this:
            = succeed '.' do
              %code="Sorry, you can only submit meters a 2x/day MAX. Please try again tomorrow!"
          %hr.pull-left{style: 'margin-bottom: 5%'}
      .row
        .col-sm-12
          %h3.text-info How do I see my stats?
          %p
            ="To see your stats, send a text message to <code>#{ENV['TWILIO_NUMBER']}</code> the with the word 'Stats', like this:".html_safe
            = succeed '.' do
              %code="stats"
            We will then reply with a collection of your stats!
          %hr.pull-left{style: 'margin-bottom: 5%'}
      .row
        .col-sm-12
          %h3.text-info How do I see my profile?
          %p
            ="To get a link to your profile, send a text message to <code>#{ENV['TWILIO_NUMBER']}</code> with the word 'Link', like this:".html_safe
            = succeed '.' do
              %code="Link"
            We will then reply with a link to your profile, like this:
            = succeed '.' do
              %code="Here is a link to your profile! http://energyxfitness.com/participants/1-111"
          %hr.pull-left{style: 'margin-bottom: 5%'}
      .row
        .col-sm-12
          %h3.text-info Can I submit meters I rowed at the gym or at home?
          %p
            To keep it fair for all of our participants,
            we do ask that you kindly refrain from texting in any meters not rowed in a group class at the studio.
            If we don't have this rule, it becomes a hard to verify free-for-all. We greatly appreciate your cooperation.
            If we feel like someone isn't cooperating, we will take steps to remove their submissions, or ban them entirely from the competition.
