%article
  - if @article.hero_image.present?
    .row
      .col-sm-7.col-centered
        = image_tag @article.hero_image.url, class: 'img img-fluid'
  .row.article-header
    .col-sm-7.col-centered
      .text-center
        %h1.article-title= @article.title
        - if @article.author.present?
          %strong.text-muted= "By #{@article.author}"
      %hr
      %em.lead.article-preview= @article.preview_text
  .row.article-body
    .col-sm-12
      = @article.body.html_safe
