- provide(:title, "#{@participant.name} Profile")

%section#Profile
  %hr
  .container
    .section-header
      .section-title
        .row
          .col-sm-12.col-md-8.col-lg-6.col-centered
            .text-center
              %h1= @participant.name

    .section-content
      .row
        .col-sm-12.col-md-6
          .text-center
            %span.text-info{style: "font-size: 96px"}= number_with_delimiter @participant.total_meters
            %p.text-muted All Time
        .col-sm-12.col-md-6
          .text-center
            %span.text-info{style: "font-size: 96px"}= number_with_delimiter @participant.meters_from(DateTime.now.in_time_zone(Time.zone).beginning_of_year, Time.now)
            %p.text-muted This Year
      .row
        .col-sm-12.col-md-6
          .card.card-inverse.card-primary.p-2
            .text-center
              %span{style: "font-size: 96px"}= number_with_delimiter @participant.meters_from(DateTime.now.in_time_zone(Time.zone).beginning_of_month, Time.now)
              %p.text-muted This Month
        .col-sm-12.col-md-6
          .text-center
            %span.text-info{style: "font-size: 96px"}= number_with_delimiter @participant.meters_from(DateTime.now.in_time_zone(Time.zone).beginning_of_week, Time.now)
            %p.text-muted This Week

%section#History
  %hr
  .container
    .section-header
      .section-title
        .row
          .col-sm-12.col-md-8.col-lg-6.col-centered
            .text-center
              %h2 Activity

    .section-content
      .row
        .col-sm-12.col-md-8
          - if @submissions.present?
            .card
              .card-block
                = column_chart @submissions.group_by_day(:created_at, time_zone: Time.zone).sum(:parsed_meters)
