.form-group
  .row
    .col-sm-12.col-md-6
      = f.hidden_field :registration_id
      = f.input :first_name, required: true,input_html: { style: "font-size: 14px;" }
    .col-sm-12.col-md-6
      = f.input :last_name, required: true,  input_html: { style: "font-size: 14px;" }
.form-group
  .row
    .col-sm-12.col-md-6
      = f.input :email, as: :email, required: true, input_html: { style: "font-size: 14px;" }
    .col-sm-12.col-md-6
      = f.input :phone, as: :tel, required: true, input_html: { style: "font-size: 14px;" }
