%tr.item{id: "registration_#{registration.id}", "data-item-id"=> "#{registration.id}", "data-item-path" => "event/#{registration.event_id}/registrations"}
  %td= registration.name
  %td= mail_to registration.email
  %td= registration.contact_phone
  %td= local_time registration.created_at, format: "%m/%d/%Y"
  %td= registration.primary_shirt_size
  %td= registration.stage_name
  %td= registration.team_name
  %td
    = link_to("https://dashboard.stripe.com/payments/#{registration.stripe_charge_id}", target: "_blank") do
      %i.fa.fa-external-link
  %td.actions
    .btn-group.pull-right
      = link_to(edit_event_registration_path(registration.event, registration), remote: true, class: 'btn btn-sm btn-warning') do
        %i.fa.fa-edit
