- provide(:title, "#{@event.name} Registration")
%section
  .container
    .section-header
      .section-title
        .row
          .col-sm-12.col-md-6.col-lg-6
            .text-center
              - if @event.promo_image.present?
                %img.img-fluid.mb-4{src: @event.promo_image.url}
              %h1= @event.name
              %div.alert.alert-info.m-2
                = local_time @event.starts_at
              %p= @event.description
              %br
          .col-sm-12.col-md-6.col-lg-6
            - if @event.open_for_registration?
              .card
                .card-header
                  %legend Registration Form
                .card-block
                  %h6.text-info Instructions
                  %p= @event.registration_instructions
                  %br
                  .unobtrusive-flash-container{style: "z-index: 100000"}
                    = render 'form'
            - else
              %div.alert.alert-danger
                %h2 We're all booked up!
                %p All of the available spots for this event have been claimed. Please check back later in case we open up more! Thanks!
