%tr.item{id: "studio_session_#{studio_session.id}", "data-item-id"=> "#{studio_session.id}", "data-item-path"=>"studio_sessions"}
  %td
    %i.fa.fa-arrows-v
  %td= studio_session.studio_session_type.name
  %td= studio_session.coach.name
  %td= studio_session.day_of_week
  %td= studio_session.start_time
  %td= studio_session.length
  %td= local_time studio_session.updated_at, format: "%m/%d/%Y"
  %td.actions
    .btn-group.pull-right
      = link_to edit_studio_session_path(studio_session), remote: true, class: 'btn btn-sm btn-warning' do
        %i.fa.fa-edit
        EDIT
      = link_to studio_session_path(studio_session), remote: true, method: :delete, class: 'btn btn-sm btn-danger' do
        %i.fa.fa-trash
        DESTROY
