.row
  .col-sm-12.col-md-12.col-lg-10.col-centered
    .card.card-outline-primary.table-card
      .table-responsive
        %table.table.table-hover
          %thead.thead-inverse
            %th Starts At
            %th Class
            %th Instructor
            %th Duration
            %th
          %tbody
            - @days.keys.each do |day|
              %tr.table-info
                %td{colspan: 5}
                  %strong=day
              - @days[day].each do |sesh|
                %tr
                  %td= sesh.start_time
                  %td= sesh.studio_session_type.name
                  %td= sesh.coach.name
                  %td= sesh.length
                  %td
                    = link_to "https://clients.mindbodyonline.com/classic/ws?studioid=226360&stype=-7&sTG=22&sVT=7&sView=day", target: '_blank', class: 'pull-right text-success' do
                      %i.fa.fa-plus
                      SIGNUP
