.row.hidden-md-down
  .col-sm-12
    .table-responsive
      %table.table
        %thead{style: "background-color: #FFE500; color: #000000"}
          - @days.keys.each do |day|
            %th.text-center{style: "color: #000000; font-weight: 700"}=day
        %tbody
          %tr
            - @days.keys.each do |day|
              %td
                %ul.list-group
                  - @days[day].each do |sesh|
                    %li.list-group-item
                      %a{href: sesh.studio_session_type.link}
                        %strong{style: "size: 18px;"}= sesh.studio_session_type.name
                      = '@ ' + sesh.start_time
                      %p
                        = 'w/' + sesh.coach.try(:first_name).to_s
                        = ' for ' + sesh.length.to_s + 'min'

.row.hidden-lg-up
  .col-sm-12
    #accordion{"aria-multiselectable" => "true", :role => "tablist"}
      - @days.keys.each do |day|
        .card
          %div.card-header{style: "background-color: #FFE500; color: #000000", :role => "tab", :id => "heading_for_#{day}"}
            %h5.mb-0
              %a{"aria-controls" => "collapse_#{day}", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse_#{day}", :style => "text-decoraion: none; color: #000"}
                = day.upcase
          %div.collapse{"aria-labelledby" => "heading_for_#{day}", :role => "tabpanel", id: "collapse_#{day}"}
            .card-block
              %ul
                - @days[day].each do |sesh|
                  %li
                    %a{href: sesh.studio_session_type.link}
                      %strong{style: "size: 18px;"}= sesh.studio_session_type.name
                    = '@ ' + sesh.start_time
                    %p
                      = 'w/' + sesh.coach.name
                      %small= ' for ' + sesh.length.to_s + 'min'
