%tr.item{id: "event_#{event.id}", "data-item-id"=> "#{event.id}", "data-item-path"=>"events"}
  %td
    - if !event.is_free?
      %i.fa.fa-money.text-success
    = event.name
  %td
    - if event.open_for_registration?
      %i.fa.fa-check-text-success
    - else
      %i.fa.fa-times.text-warning
    until
    = local_time event.registration_ends_at rescue "not set"
  %td= local_time event.starts_at rescue "not set"
  %td= local_time event.updated_at
  %td.actions
    .btn-group.pull-right
      = link_to event_registrations_path(event), class: 'btn btn-sm btn-info' do
        %i.fa.fa-group
        Regs
      = link_to edit_event_path(event), class: 'btn btn-sm btn-warning' do
        %i.fa.fa-edit
        Edit
      = link_to event_path(event), remote: true, method: :delete, class: 'btn btn-sm btn-danger' do
        %i.fa.fa-trash
        Destroy
