%tr.nested-fields
  %td
    = f.hidden_field :event_id, value: @event.id
    = f.input :name, label: false
  %td= f.input :cap_size, label: false
  %td= f.input :starting_time, label: false
  %td
    - if f.object.registrations.any?
      .text-info
        Registrations:
        = f.object.registrations.count
    - else
      = link_to_remove_association f, class: 'btn btn-sm btn-danger' do
        %i.fa.fa-times
