= simple_form_for [@event], remote: true, authenticity_token: true, html: { id: 'EventForm', multipart: true } do |f|
  #error_holder
    %ul#errors
  = f.error_notification
  .form-group
    = f.input :name, autofocus: true, required: true
  .form-group
    = f.input :starts_at, as: :datetime, required: true
  .form-group
    = f.input :link, as: :url
  .form-group
    = f.input :description, as: :text, required: true
  .form-group
    = f.input :promo_image, label: 'Promo Image', as: :file
  .form-group
    = f.input :address, label: 'Where is it?', as: :text
  .form-group
    = f.input :button_text, label: 'Call to Action', input_html: {value: f.object.button_text || 'SIGN UP'}
  .form-group
    = f.input :registerable, label: 'Accept Registrations?'
  .form-group
    = f.input :registration_ends_at
  .form-group
    = f.input :registration_instructions
  .form-actions
    .text-center
      = f.button :submit, class: 'btn btn-md btn-success'
