- provide(:title, "#{@event.name} TEAM Registration")
%section
  .container
    .section-header
      .section-title
        .row
          .col-sm-12.col-md-6.col-lg-6
            .text-center
              = render "events/promo_details", event: @event
          .col-sm-12.col-md-6.col-lg-6
            .unobtrusive-flash-container{style: "z-index: 100000"}
            - if @event.open_for_registration?
              .card
                .card-header
                  %legend Registration Form
                .card-block
                  %h6.text-info Team Instructions
                  %p= @event.team_instructions
                  %hr
                  - if @event.is_paid?
                    = render 'form'
                  - else
                    = render 'free_form'
            - else
              %div.alert.alert-danger
                %h2 We're all booked up!
                %p All of the available spots for this event have been claimed. Please check back later in case we open up more! Thanks!
