- provide(:title, "#{@event.name} Team Registration Confirmation")
%section#Confirmation
  %br
  .text-center
    %img.img-fluid{src: @event.promo_image.url, style: "max-width: 500px;"}
  %br
  %hr
  .container
    .section-header
      .section-title
        .row
          .col-sm-12.col-md-8.col-lg-6.col-centered
            .unobtrusive-flash-container{style: "z-index: 100000"}
            .text-center
              %br
              %h1.text-success Success!
              %br
              %h4
                Your registration for
                %strong= @event.name
                is complete!
              %p.lead The details you submitted are below!
      .section-content
        .card
          .card-block
            .row
              .col-sm-12.col-md-3.col-centered
                %div.m-3
                  %strong Name:
                  .text-info= @event_team.name
                %div.m-3
                  %strong Division:
                  .text-info= @event_team.division
                %div.m-3
                  %strong Members:
                  %ul
                    - @event_team.registrations.each do |member|
                      %li
                        = member.name
                        = "(#{member.primary_shirt_size})" if member.primary_shirt_size.present?
            - if @event_team.has_paid?
              %br
              .row
                .col-sm-12.col-md-4.col-centered
                  = render 'payment_details', charge: @event_team.retrieve_stripe_charge
