%tr{id: "contact_#{contact.id}"}
  %td
    - if contact.first_name.present?
      = contact.first_name.titleize
    - else
      .text-danger
        unknown
  %td
    - if contact.last_name.present?
      = contact.last_name.titleize
    - else
      .text-danger
        unknown
  %td= number_to_phone contact.mobile_phone
  %td= local_time contact.last_messaged_at, format: "%m/%d/%Y" rescue ''

  %td.actions
    .btn-group
      = link_to contact_path(contact), class: 'btn btn-sm btn-info', title: "See this members' Messaging History", 'data-toggle' => 'tooltip', 'data-placement' => 'left' do
        %i.fa.fa-eye
      = link_to edit_contact_path(contact), remote: true, class: 'btn btn-sm btn-warning', title: "Edit this Member", 'data-toggle' => 'tooltip', 'data-placement' => 'left' do
        %i.fa.fa-pencil
