%tr.item{id: "submission_#{submission.id}", "data-item-id"=> "#{submission.id}"}
  %td
    = link_to submission.participant.friendly_name, participant_path(submission.participant_id)
  %td= submission.from_number
  %td= submission.parsed_meters
  %td= submission.parsed_name
  %td= submission.is_valid?
  %td= submission.is_rejected?
  %td= submission.rejection_reason
  %td= submission.response_text
  %td= local_time_ago submission.created_at
  %td.actions
    .btn-group.pull-right
      = link_to edit_submission_path(submission), remote: true, class: 'btn btn-sm btn-warning' do
        %i.fa.fa-edit
        Edit
      = link_to submission_path(submission), remote: true, method: :delete, class: 'btn btn-sm btn-danger' do
        %i.fa.fa-trash
        Destroy
