%tr.item{id: "submission_#{submission.id}", "data-item-id"=> "#{submission.id}"}
  %th= submission.participant.name
  %th= submission.from_number
  %th= submission.parsed_meters
  %th= submission.parsed_name
  %th= submission.is_valid?
  %th= submission.is_rejected?
  %th= local_time_ago submission.created_at
  %td.actions
    .btn-group.pull-right
      = link_to edit_submission_path(submission), remote: true, class: 'btn btn-sm btn-warning' do
        %i.fa.fa-edit
        Edit
      = link_to submission_path(submission), remote: true, method: :delete, class: 'btn btn-sm btn-danger' do
        %i.fa.fa-trash
        Destroy
